# ----------------------
# Flask
# ----------------------
flask
Flask-WTF
Flask-SQLAcademy
psycopg2


# ----------------------
# Testing
# ----------------------
mock


# ----------------------
# Production Server
# ----------------------
gunicorn
